#Header {
    text-align: center;
    color: #FF8600;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: underline;
    background-color: #0B0B0B;
    text-shadow: 0px 0px 125px #FFFFFF;
    font-size: 38px;
}
.SecondText {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    text-shadow: 0px 0px 25px #000000;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-indent: 0px;
    text-align: center;
}
